.modal-background {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.modal-main {
  position:fixed;
  background: rgba(255, 255, 255, 0.905);
  border-radius: 0.2%;
  border-color: black;
  border-style: ridge;
  width: 80%;
  height: min-content;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding: 1em;
}

.modal-main button.close {
  font-size: 1.3em;
  background: none;
  background-color: rgb(225, 222, 222);
  border: black;
  border-style: ridge;
  border-radius: 33%;
  position: absolute;
  top: 0em; 
  right: 0.2em;
}